@use '../../../shared/styles' as shared;

.container {
  width: 100%;
  pointer-events: none;
}

.container .grid__view-skeleton {
  &-img,
  &-title,
  &-price,
  &-cart {
    @include shared.skeleton-base;
  }

  &-img {
    width: 100%;
    border-radius: 0;
  }

  &-title,
  &-price {
    height: 18px;
  }

  &-title {
    width: 45%;
  }

  &-price {
    width: 4rem;
  }

  &-cart {
    width: 2.45rem;
    height: 2.45rem;
    border-radius: 50%;
  }
}
