@use '../../../shared/styles' as shared;

.container {
  pointer-events: none;
}

.container .list__view-skeleton {
  &-img,
  &-title,
  &-price,
  &-desc,
  &-btn,
  &-favorite,
  &-cart {
    @include shared.skeleton-base;
  }

  &-img {
    border-radius: var(--radius);
  }

  &-info {
    flex: 1;
    min-width: 0;
  }

  &-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    min-height: 2.75rem;
  }

  &-title {
    height: 20px;
    width: 50%;
  }

  &-price {
    height: 20px;
    width: 25%;
  }

  &-desc {
    color: transparent;
    width: 100%;
  }

  &-btn {
    color: transparent;
    border-color: transparent;
    border-radius: 8px;
  }

  &-favorite {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
  }

  &-cart {
    width: 2.45rem;
    height: 2.45rem;
    border-radius: 50%;
  }
}
